*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.clock{
    height: 430px;
    width: 429px;
    border: 5px solid;
    border-radius: 50%;
    position: relative;
    left: 400px;
    top: 200px;
    background-color: gray;

}

.dot{
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 600px;
    bottom: 25px;
}

.niddle1{
    width: 2px;
    height: 170px;
    background: black;
    position: relative;
    left: 604px;
    bottom: 203px;
    transform-origin: bottom;
    

}

.niddle2{
    width: 5px;
    height: 152px;
    background: black;
    position: relative;
    left: 605px;
    bottom: 354px;
    transform-origin: bottom;

}

.niddle3{
    width: 5px;
    height: 112px;
    background: black;
    position: relative;
    left: 659px;
    bottom: 371px;
    transform-origin: bottom;

}
.one{
    height: 404px;
    width: 400px;
    position: absolute;
    left: 712px;
    top: 239px;
    
}
.two{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 773px;
    top: 300px;

}

.three{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 801px;
    top: 391px;
}

.four{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 783px;
    top: 481px;
}

.five{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 715px;
    top: 560px;
}

.six{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 611px;
    top: 594px;
    
    
}

.seven{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 507px;
    top: 561px;
}

.eight{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 431px;
    top: 480px;
}
.nine{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 418px;
    top: 389px;
    font-size: 19px;
    
}

.ten{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 439px;
    top: 306px;
}

.eleven{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 500px;
    top: 239px;
}

.twelve{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 600px;
    top: 212px;
}